html{
  background-image: url('background.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
}

#loading {
    position: absolute; width: 100%; height: 100%; background: url('spinner.gif') no-repeat center center;
}

.name{
  font-family: 'Righteous', cursive;
  font-size:40px;
  color:#eee;
  text-align: center;
  font-weight: lighter;
}

.home{
  color:#64fcf2;
  font-family: "ff-good-headline-web-pro-con",sans-serif;
  font-size: 350px;
  text-align: center;
  line-height: 190px;
  font-weight: 900;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-top:0;
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
  outline-color: initial;
  outline-style: initial;
  outline-width: 0px;
  box-sizing: border-box;
}

.info{
  font-family: "tablet-gothic-narrow",sans-serif;
  font-size: 24px;
  color: white;
  text-align: center;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -1%);
}
