html{
  background-image: url('Images/Background.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: #10131a;
}

.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url('Images/loading.gif') center no-repeat #fff;
  background-color: black;
}

::selection{background:#66fcf1; text-decoration: underline;}

.name{
  font-family: 'Righteous', cursive;
  font-size:40px;
  color:#eee;
  text-align: center;
  font-weight: lighter;
  cursor:pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

}



.link{
  text-decoration: none;
  color:#eee;
}

.home{
  color:#64fcf2;
  font-family: "ff-good-headline-web-pro-con",sans-serif;
  font-size: 28vw;
  text-align: center;
  line-height: 190px;
  font-weight: 900;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-top:0;
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
  outline-color: initial;
  outline-style: initial;
  outline-width: 0px;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


.info{
  font-family: "simplifica_sans";
  font-size: 4vw;
  color: white;
  text-align: center;
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -1%);

}



@font-face {
    font-family: "simplifica_sans";
    src: url('simplifica_sans.ttf');
}
.web{
  width: 100%;
  height: 800px;
  padding-top: 47.5%;
  display: block;
}

.webm{
  display: none;
}

.informative{
  font-family: "simplifica_sans", "segoe ui";
  color: #4C4E4F;
  font-size: 10vw;
  font-weight: 800;
  position: absolute;
  top: 135%;
  left: 75%;
  transform: translate(-50%, -50%);
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-top:0;
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
  outline-color: initial;
  outline-style: initial;
  outline-width: 0px;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

}

.para{
  font-family: "simplifica_sans", "segoe ui";
  color: #16202d;
  font-size: 4vw;
  font-weight: 500;
  position: absolute;
  top: 173%;
  left: 71%;
  transform: translate(-50%, -50%);
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-top:0;
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
  outline-color: initial;
  outline-style: initial;
  outline-width: 0px;
  box-sizing: border-box;

}

.musicpara{
  font-family: "simplifica_sans";
  font-size: 4vw;
  color: #000000;
  font-weight: bolder;
  text-align: center;
  position: absolute;
  top: 300%;
  left: 45%;
  transform: translate(-50%, -1%);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


.music{
  width: 100%;
  height: 800px;
  padding-top: 0.7%;
  display: block;

}

.musicm{
  display: none;
}

.contacthead{
  color: #ffffff;
  text-align: center;
  font-size: 6.5vw;
  font-family: "ff-good-headline-web-pro-con",sans-serif;
  line-height: 50px;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 10%;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
  text-size-adjust: none;
}

hr{
  background-color:#64fcf2;
  border: none;
  height: 1px;
  width: 70px;
}

.contactpara{
  text-align: center;
  color: rgba(149 , 153 , 162 , 1);
  font-size: 2.2vw;
  font-weight: 100;
  font-family: "simplifica_sans";
}


#A1 {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: inline-block;
    height: 57.9972px;
    letter-spacing: 4px;
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    text-transform: uppercase;
    vertical-align: middle;
    width: 177.727px;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 88.8636px 28.9915px;
    transform-origin: 88.8636px 28.9915px;
    caret-color: rgb(255, 255, 255);
    border: 1.98864px solid rgb(102, 252, 241);
    border-radius: 2px 2px 2px 2px;
    font: normal normal 600 normal 16px / 54px tablet-gothic-narrow, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
    padding: 0px 40px;
    margin-left: 42%;
    margin-top: 4.5%;
    transition: color 0.5s , background 0.5s;
  }
  #A1:hover{
    background-color: #64fcf2;
    color: black;
  }





@media  (max-width: 800px) {
html{
  background-image: url("Images/Backgroundm.jpg");
}
.web{
  padding-top: 125%;
}
.info{
  font-size: 7.5vw;
  top:60%;
}
.home{
  font-size: 40vw;
}
.informative{
  font-size: 18vw;
  top:130%;
  left: 73%;
}
.para{
  font-size:10vw;
  top:165%;
}
.web{
  display: none;
}
.webm{
  display: block;
  max-height: 100%;
  width: 100%;
  padding-top: 126%;
}
.musicpara{
  font-size:18vw;
  left:50%;
  top:320%;
}
.contactpara{
  text-align: center;
  color: rgba(149 , 153 , 162 , 1);
  font-size: 6vw;
  font-weight: 100;
  font-family: "simplifica_sans";
}
.contacthead{
  color: #ffffff;
  text-align: center;
  font-size: 13vw;
  font-family: "ff-good-headline-web-pro-con",sans-serif;
  line-height: 50px;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 10%;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
  text-size-adjust: none;
}
#A1{
  margin-left: 25%;
  margin-top: 6.5%;
}

}
